/* Concepto de herencia en CSS */

.padre {
    color: red; /* Como la propiedad color es heredable 
                    los elementos dentro padre tendrán ese mismo valor */
    border: 2px solid orange; /* Hay propiedades que no se heredables */
    padding: 20px;
}

.hijo {
    color: green; /* Rompemos la herencia al asignarle un nuevo valor*/
    /* Un elemento hijo puede heredar una propiedad no heredable
    con el valor inherit */
    border: inherit;
    padding: 20px;
}

.nieto {
    /*Otra forma de romper la herencia es el valor initial
    que implementa el valor que tenga por defecto */
    color: initial;
}